<html>
    <head>
        <title>MUSIC IS EVERYWHERE AND EVERYTHING</title>    
        <style>
            body {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <frameset rows="23%,77%">
        <frame name="top" src="static/top_bar.html" frameborder="0"/>
            <frameset cols="20%,80%">
                <frame name="left" src="static/side_bar.html" frameborder="0"/>
                <frame name="right" src="static/chat_bot.html" frameborder="0"/>
            </frameset>
    </frameset>
</html>